*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.env
.env.*
*.jks
*.keystore
*.p12
*.pem
signing.properties
secrets.properties
google-services.json
**/google-services.json
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
